source https://nuget.org/api/v2
framework: netcoreapp3.1, netstandard2.1

nuget Microsoft.Azure.Storage.Blob 11.1.1
nuget Microsoft.Extensions.Http 3.1.0
nuget Newtonsoft.Json 12.0.3
nuget NodaTime 2.4.7

group Web
    source https://nuget.org/api/v2

    nuget Microsoft.ApplicationInsights.AspNetCore 2.12.0

group Test
    source https://nuget.org/api/v2

    nuget FluentAssertions 5.9.0
    nuget xunit 2.4.1
    nuget xunit.runner.visualstudio 2.4.1
    nuget Selenium.Chrome.WebDriver 76.0.0
    nuget Selenium.Firefox.WebDriver 0.24.0
    nuget Selenium.InternetExplorer.WebDriver 3.141.5
    nuget Selenium.Support 3.141.0
    nuget Selenium.WebDriver 3.141.0
    nuget System.Text.Encoding.CodePages 4.6.0
    nuget Microsoft.NET.Test.Sdk 15.8.0