<div class="topic box" [class.draggable]="enableDrag" id="{{ topic.id }}" appEditButton [class.topic-favorite]="isFavorite">
  <div class="topic-indicators">
    @if (hasComments) {
      <fa-icon [icon]="['fas', 'comments']"></fa-icon>
    }
    @if (isFavorite) {
      <a (click)="favorite()"><fa-icon [icon]="['fas', 'heart']"></fa-icon></a>
    }
    @if (topic.slots > 1) {
      <span class="topic-slots">{{ topic.slots }}</span>
    }
  </div>

  <div class="content topic-content" #content>
    <div class="topic-header">
      <div class="topic-title">
        <span [hidden]="!hasError">
          <fa-icon [icon]="['fas', 'exclamation-triangle']" class="topic-error" #errorElement></fa-icon>
        </span>
        <div #errorTooltip>{{ errorText }}</div>
        <strong>{{ topic.name }}</strong>
      </div>

      <div class="topic-owner">
        <small>{{ topic.owner }}</small>
      </div>
    </div>

    <p class="topic-description" [hidden]="!description.dataset['expanded'] || description.dataset['expanded'] === 'false'" #description>
      @if (!topic.description) {
        <i>no description</i>
      }
      {{ topic.description }}
    </p>
  </div>

  <div class="topic-additional-informations">
    <div>
      @if (session.attendanceEnabled) {
        <div class="topic-additional-information">
          <fa-icon [icon]="['fas', 'users']"></fa-icon>
          @if (session.freeForAll) {
            <div class="topic-attendees">
              <a (click)="increaseAttendees()">
                <fa-icon [icon]="['fas', 'plus']" aria-hidden="true"></fa-icon>
              </a>

              <span class="topic-attendees-value" (click)="toggleAttendeesInput()" [hidden]="showAttendeesInput">{{ topic.attendees.length }}</span>
              <input
                type="text"
                class="topic-attendees-value-box"
                placeholder="1"
                #topicAttendees
                [hidden]="!showAttendeesInput"
                [value]="topic.attendees.length"
                (keyup.enter)="updateAttendees(topicAttendees.value)"
                (blur)="updateAttendees(topicAttendees.value)"
              />

              <a (click)="decreaseAttendees()">
                <fa-icon [icon]="['fas', 'minus']" aria-hidden="true"></fa-icon>
              </a>
            </div>
          } @else {
            <div class="topic-attendees">
              <span class="topic-attendees-value">{{ topic.attendees.length }}</span>

              @if (!isAttendee()) {
                <a (click)="increaseAttendees()">
                  <fa-icon [icon]="['fas', 'plus']" aria-hidden="true"></fa-icon>
                </a>
              } @else {
                <a (click)="decreaseAttendees()">
                  <fa-icon [icon]="['fas', 'minus']" aria-hidden="true"></fa-icon>
                </a>
              }
            </div>
          }
        </div>
      }

      <div class="topic-additional-information">
        <div #ratingElement>
          <fa-icon [icon]="['fas', 'star']"></fa-icon>
          <span class="topic-ratings-value">{{ rating.mean }}</span>

          <div style="display: block" class="topic-rating-tooltip" #ratingTooltip>
            <div style="display: block">
              <span>Min:</span>
              <span class="pull-right">{{ rating.min }}</span>
            </div>
            <div style="display: block">
              <span>Median:</span>
              <span class="pull-right">{{ rating.median }}</span>
            </div>
            <div style="display: block">
              <span>Mean:</span>
              <span class="pull-right">{{ rating.mean }}</span>
            </div>
            <div style="display: block">
              <span>Max:</span>
              <span class="pull-right">{{ rating.max }}</span>
            </div>
            <div style="display: block">
              <span>Count:</span>
              <span class="pull-right">{{ rating.count }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    @if (showAdditionalInformation) {
      <div>
        @if (slot != null) {
          <div class="topic-additional-information">
            <fa-icon [icon]="['fas', 'clock']"></fa-icon>
            <span>{{ slot.name }} {{ slot.time != null ? '(' + slot.time + ')' : '' }}</span>

            @if (slotEnd != null) {
              <div style="display: block">
                <span style="margin-left: 0.8rem">{{ slotEnd.name }} {{ slotEnd.time != null ? '(' + slotEnd.time + ')' : '' }}</span>
              </div>
            }
          </div>
        }

        @if (room != null) {
          <div class="topic-additional-information">
            <fa-icon [icon]="['fas', 'home']"></fa-icon>
            <span>{{ room.name }}</span>
          </div>
        }
      </div>
    }
  </div>

  <div class="topic-buttons">
    @if (topic.description) {
      <p class="topic-description-expander">
        @if (!description.dataset['expanded'] || description.dataset['expanded'] === 'false') {
          <a (click)="expandDescription(content, description)">
            <fa-icon [icon]="['fas', 'expand']"></fa-icon>
          </a>
        } @else {
          <a (click)="collapseDescription(content, description)">
            <fa-icon [icon]="['fas', 'compress']"></fa-icon>
          </a>
        }
      </p>
    }

    <p class="topic-edit-button">
      @if (!showAdditionalInformation) {
        <a (click)="edit.emit({ event: $event, topic })">
          <fa-icon [icon]="['fas', 'edit']" class="edit-button"></fa-icon>
        </a>
      }

      <a (click)="favorite()">
        <fa-icon [icon]="['fas', 'heart']" class="edit-button" [class.fa-heart]="!isFavorite" [class.fa-heart-o]="isFavorite"></fa-icon>
      </a>
    </p>
  </div>

  @if (session.ratingEnabled) {
    <div class="topic-ratings-stars">
      <input type="radio" id="star4-{{ topic.id }}" name="rating-{{ topic.id }}" value="4" (click)="ratingChange(4)" [checked]="getRating() === 4" />
      <label for="star4-{{ topic.id }}"></label>

      <input type="radio" id="star3-{{ topic.id }}" name="rating-{{ topic.id }}" value="3" (click)="ratingChange(3)" [checked]="getRating() === 3" />
      <label for="star3-{{ topic.id }}"></label>

      <input type="radio" id="star2-{{ topic.id }}" name="rating-{{ topic.id }}" value="2" (click)="ratingChange(2)" [checked]="getRating() === 2" />
      <label for="star2-{{ topic.id }}"></label>

      <input type="radio" id="star1-{{ topic.id }}" name="rating-{{ topic.id }}" value="1" (click)="ratingChange(1)" [checked]="getRating() === 1" />
      <label for="star1-{{ topic.id }}"></label>
    </div>
  }
</div>
