<app-modal-dialog title="Topic" (save)="save()" (close)="onClose()" (delete)="delete()" [showDeleteButton]="item.id != null" [isShown]="isShown">
    <div class="tabs" *ngIf="item.id != null">
        <ul>
            <li [class.is-active]="selectedTab == 'topic'" (click)="selectTab('topic')">
                <a>Topic</a>
            </li>
            <li [class.is-active]="selectedTab == 'comments'" (click)="selectTab('comments')">
                <a>Comments</a>
            </li>
        </ul>
    </div>

    <div *ngIf="selectedTab == 'topic'">
        <div class="field">
            <label class="label">Name</label>
            <div class="control">
                <input class="input" type="text" placeholder="Name" id="name" [(ngModel)]="item.name" />
            </div>
        </div>
        <div class="field">
            <label class="label">Owner</label>
            <div class="control">
                <input class="input" type="text" placeholder="Owner" id="owner" [(ngModel)]="item.owner" />
            </div>
        </div>
        <div class="field">
            <label class="label">Description</label>
            <div class="control">
                <textarea class="textarea" placeholder="Description" id="description" [(ngModel)]="item.description"></textarea>
            </div>
        </div>
        <div class="field">
            <label class="label">Demands</label>
            <div class="control">
                <ng-select [items]="capabilities" [(ngModel)]="item.demands" [addTag]="true" [hideSelected]="true" multiple="true" appendTo="body" #capabilitiesElement></ng-select>
            </div>
        </div>
    </div>

    <div *ngIf="selectedTab == 'comments' && item.id != null">
        <div class="comments">
            <span *ngIf="item?.comments?.length == 0">
                <i>No comments available. Be the first to give a comment to the speaker!</i>
            </span>

            <div class="box" *ngFor="let comment of item.comments">
                <article class="media">
                    <div class="media-content">
                        <div class="content">{{ comment.value }}</div>
                        <div class="comment-buttons">
                            <a (click)="deleteComment(comment.id)">
                                <i class="fa fa-trash"></i>
                            </a>
                        </div>
                    </div>
                </article>
            </div>
        </div>

        <div class="field">
            <label class="label">Comment</label>
            <div class="control">
                <textarea class="textarea" placeholder="Comment" [(ngModel)]="comment"></textarea>
            </div>
        </div>

        <button class="button pull-right" (click)="addComment()">Add</button>
    </div>
</app-modal-dialog>
