<app-modal-dialog title="Session" (save)="save()" (close)="onClose()" (delete)="delete()" [showDeleteButton]="true" [isShown]="isShown">
  @if (item.id != null) {
    <div class="tabs">
      <ul>
        <li [class.is-active]="selectedTab === 'session'" (click)="selectTab('session')">
          <a>Session</a>
        </li>
        @if (item.id != null) {
          <li [class.is-active]="selectedTab === 'voting'" (click)="selectTab('voting')">
            <a>Voting</a>
          </li>
          <li [class.is-active]="selectedTab === 'imports'" (click)="selectTab('imports')">
            <a>Imports</a>
          </li>
        }
      </ul>
    </div>
  }

  @if (selectedTab === 'session') {
    <div>
      <div class="field">
        <label class="label" for="name">Name</label>
        <div class="control">
          <input class="input" type="text" placeholder="Name" id="name" name="name" [(ngModel)]="item.name" />
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox" for="freeForAll"> <input type="checkbox" id="freeForAll" name="freeForAll" [(ngModel)]="item.freeForAll" /> Free for all (unlimited attendance and votes) </label>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox" for="ratingEnabled"> <input type="checkbox" id="ratingEnabled" name="ratingEnabled" [(ngModel)]="item.ratingEnabled" /> Enable topic rating </label>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox" for="attendanceEnabled"> <input type="checkbox" id="attendanceEnabled" name="attendanceEnabled" [(ngModel)]="item.attendanceEnabled" /> Enable attendance </label>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox" for="teamsAnnouncementsEnabled">
            <input type="checkbox" id="teamsAnnouncementsEnabled" name="teamsAnnouncementsEnabled" [(ngModel)]="item.teamsAnnouncementsEnabled" /> Enable Microsoft Teams announcements
          </label>
        </div>
      </div>

      <div class="modal-buttons">
        <button class="button is-danger" (click)="deleteRooms()">Delete rooms</button>
        <button class="button is-danger" (click)="deleteSlots()">Delete slots</button>
        <button class="button is-danger" (click)="resetRatings()">Reset ratings</button>
        <button class="button is-danger" (click)="resetAttendance()">Reset attendance</button>
      </div>
    </div>
  } @else if (selectedTab === 'imports') {
    <div>
      <div class="field">
        <label class="label">Session</label>
        <div class="control">
          <ng-select [items]="sessions$ | async" [(ngModel)]="selectedSession" bindLabel="name" appendTo="body" #sessionsElement></ng-select>
        </div>
      </div>

      <div class="modal-buttons">
        <button class="button is-danger" (click)="importAll()" [disabled]="selectedSession == null">Import all</button>
        <button class="button is-danger" (click)="importRooms()" [disabled]="selectedSession == null">Import rooms</button>
        <button class="button is-danger" (click)="importSlots()" [disabled]="selectedSession == null">Import slots</button>
      </div>
    </div>
  } @else if (selectedTab === 'voting') {
    <div>
      <div class="field">
        <div class="control">
          <label class="checkbox" for="votingEnabled"> <input type="checkbox" id="votingEnabled" name="votingEnabled" [(ngModel)]="item.votingOptions.votingEnabled" /> Enable topic voting </label>
        </div>
      </div>

      @if (item.votingOptions.votingEnabled) {
        <div class="field">
          <label class="label" for="maxNumberOfVotes">Maximum votes per user</label>
          <div class="control">
            <input class="input" type="number" placeholder="5" id="maxNumberOfVotes" name="maxNumberOfVotes" [(ngModel)]="item.votingOptions.maxNumberOfVotes" />
          </div>
        </div>

        <div class="field">
          <label class="label" for="maxVotesPerTopic">Maximum votes per topic</label>
          <div class="control">
            <input class="input" type="number" placeholder="1" id="maxVotesPerTopic" name="maxVotesPerTopic" [(ngModel)]="item.votingOptions.maxVotesPerTopic" />
          </div>
        </div>

        <div class="field">
          <div class="control">
            <label class="checkbox" for="blindVotingEnabled"> <input type="checkbox" id="blindVotingEnabled" name="blindVotingEnabled" [(ngModel)]="item.votingOptions.blindVotingEnabled" /> Enable blind voting </label>
          </div>
        </div>

        <div class="field">
          <label class="label" for="votingStartDateTimeUtc">Start date time</label>
          <div class="control">
            <input
              class="input"
              type="datetime-local"
              id="votingStartDateTimeUtc"
              name="votingStartDateTimeUtc"
              [ngModel]="item.votingOptions.votingStartDateTimeUtc | date: 'yyyy-MM-ddTHH:mm'"
              (ngModelChange)="item.votingOptions.votingStartDateTimeUtc = $event == '' ? null : $event"
            />
          </div>
        </div>

        <div class="field">
          <label class="label" for="votingEndDateTimeUtc">End date time</label>
          <div class="control">
            <input
              class="input"
              type="datetime-local"
              id="votingEndDateTimeUtc"
              name="votingEndDateTimeUtc"
              [ngModel]="item.votingOptions.votingEndDateTimeUtc | date: 'yyyy-MM-ddTHH:mm'"
              (ngModelChange)="item.votingOptions.votingEndDateTimeUtc = $event == '' ? null : $event"
            />
          </div>
        </div>
      }
    </div>
  }
</app-modal-dialog>
