<app-modal-dialog title="Topic" (save)="save()" (close)="onClose()" (delete)="delete()" [showDeleteButton]="item.id != null" [isShown]="isShown">
  <div class="tabs" *ngIf="item.id != null">
    <ul>
      <li [class.is-active]="selectedTab === 'topic'" (click)="selectTab('topic')">
        <a>Topic</a>
      </li>
      <li [class.is-active]="selectedTab === 'feedback'" (click)="selectTab('feedback')">
        <a>Feedback</a>
      </li>
    </ul>
  </div>

  <div *ngIf="selectedTab === 'topic'">
    <div class="field">
      <label class="label">Name</label>
      <div class="control">
        <input class="input" type="text" placeholder="Name" id="name" [(ngModel)]="item.name" />
      </div>
    </div>
    <div class="field">
      <label class="label">Owner</label>
      <div class="control">
        <input class="input" type="text" placeholder="Owner" id="owner" [(ngModel)]="item.owner" />
      </div>
    </div>
    <div class="field">
      <label class="label">Description</label>
      <div class="control">
        <textarea class="textarea" placeholder="Description" id="description" [(ngModel)]="item.description"></textarea>
      </div>
    </div>
    <div class="field">
      <label class="label">Slots</label>
      <div class="control">
        <input class="input" type="number" min="1" max="99" placeholder="Number of slots" id="slots" [(ngModel)]="item.slots" />
      </div>
    </div>
    <div class="field">
      <label class="label">Demands</label>
      <div class="control">
        <ng-select [items]="capabilities" [(ngModel)]="item.demands" [addTag]="true" [hideSelected]="true" [multiple]="true" appendTo="body" #capabilitiesElement></ng-select>
      </div>
    </div>
  </div>

  <div *ngIf="selectedTab === 'feedback' && item.id != null">
    <div class="feedback">
      <span *ngIf="item?.feedback?.length == 0">
        <i>No feedback available. Be the first to give feedback to the speaker!</i>
      </span>

      <div class="box" *ngFor="let feedback of item.feedback">
        <article class="media">
          <div class="media-content">
            <div class="content">{{ feedback.value }}</div>
            <div class="feedback-buttons">
              <a (click)="deleteFeedback(feedback.id)">
                <i class="fa fa-trash"></i>
              </a>
            </div>
          </div>
        </article>
      </div>
    </div>

    <div class="field">
      <label class="label">Feedback</label>
      <div class="control">
        <textarea class="textarea" placeholder="Feedback" [(ngModel)]="feedback"></textarea>
      </div>
    </div>

    <button class="button pull-right" (click)="addFeedback()">Add</button>
  </div>
</app-modal-dialog>
